.Paper {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.PosterPaper {
  padding: 15px;
}

.Synopsis {
  display: flex;
  align-items: center;
  display: block;
  justify-content: center;
}

.Chip {
  margin-top: 3px;
  margin-right: 3px;
}

.InfoCardsMargin {
  margin: 3px auto !important;
}

.MiddleAlignImage {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 1rem;
}

.AdditionalInfo {
  margin: 1rem auto;
}

.MaxWidth {
  max-width: 1000px !important;
}

.Container {
  display: flex;
  justify-content: center !important;
}
