.SiteName {
  cursor: pointer;
  margin-top: 7px !important;
}

.Hamburger {
  width: 20px;
  border-top: 2px solid rgb(255, 255, 255);
  border-bottom: none;
  border-right: none;
  border-left: none;
  display: block;
  margin: 4px auto;
}

.ZG {
  margin-right: 0 !important;
}

.User {
  text-decoration: none;
  margin-right: 1rem;
}

@media only screen and (max-width: 600px) {
  .User {
    display: none;
  }
}
