.SiteName {
  cursor: pointer;
  margin-top: 7px !important;
}

.Hamburger {
  width: 20px;
  border: 1px solid rgb(0, 0, 0);
  display: block;
  margin: 4px auto;
}

.ZG {
  margin-right: 0 !important;
}
