body {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiSelect-icon {
  color: #fff !important;
}

.MuiInput-underline:before {
  display: none !important;
}
